    @font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('/Users/richardnovoa/Documents/GitHub/portfolioSite/portfolio/gordita-cufonfonts-webfont/Gordita Medium.woff') format('woff');
    }
    
    @font-face {
    font-family: 'Gordita Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra'), url('/Users/richardnovoa/Documents/GitHub/portfolioSite/portfolio/gordita-cufonfonts-webfont/Gordita Ultra.woff') format('woff');
    }
    
    
a {
    text-decoration-line: none;
}

.logo{
    position: absolute;
    width: 80px;
    height: 60px;
    left: 55px;
    top: 0px;
    font-family: Gordita;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 135%;
    display: flex;
    align-items: center;
    color: #17FCD2;

}
.navlink {
    font-family: Gordita;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 135%;
    display: flex;
    align-items: center;
    text-align: right;
    color: black;
    height: 60px;
}
.navlink1 {
    position: absolute;
    left: 600px;
}

h1{
    font-family: Gordita;
    font-style: normal;
    font-weight: 800;
    font-size: 59px;
    line-height: 96%;
    display: flex;
    align-items: center;
    color: #17FCD2;
}
h4{
    font-family: Gordita;
    font-style: normal;
}
    
